build/
.venv/
test1/
test?/
testbuild/
venv/
Makefile.local.mk
config.local.mk
.env
*.d
*.pyc
*.pyo
*.pyd
*.pdb
*.swp
*.swo
*.bak
*.orig
*.rej
*.log
*.tmp
*.cache
*.coverage
*.egg
*.egg-info/
*.dist-info/
*.whl
