[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
boto3 = "==1.35.95"
langid = "*"
langdetect = "*"
fasttext = "*"
numpy = "1.26.*"
smart-open= {extras = ["s3","http"], version = "==6.4"}
impresso-pipelines = {extras= ["langident"]}
lingua-language-detector = "*"
impresso-cookbook = {editable = true, path = "./cookbook/lib",version="1.0.3"}
jsonschema = "*"

[requires]
python_version = "3.11"
